html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  background: #f2f2f2;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  height: 100vh;
  width: 100%;
}

.form {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  min-height: 350px;
}


.add-new-item-input, .password {
  margin: 4px 20px 0 0;
  padding: 10px 0;
  display: flex;
  width: 200px;
  border: 1px #ececec solid;
  box-sizing: content-box;

}

.select-category, .valid-to, .price-input, .company-name, .images, .item-name {
  margin: 4px 20px 0 0;
  padding: 10px 0 10px 8px;
  display: flex;
  width: 300px;
  font-size: 14px;
  height: 20px;
  border: 1px #ececec solid;
  box-sizing: content-box;
}

.short-description, .long-description {
  margin: 4px 20px 0 0;
  padding: 10px 0 10px 8px;
  display: flex;
  width: 300px;
  font-size: 14px;
  height: 60%;
  border: 1px #ececec solid;
  box-sizing: content-box;
  resize: none;
}

.submit-save {
  background: #6fcf97;
  width: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 7px;
  box-sizing: content-box;
  color: white;
  font-size: 16px;
  border: 1px solid grey;
}

.submit-back {
  background: #ffffff;
  width: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 7px;
  box-sizing: content-box;
  color: #8d8d8d;
  font-size: 16px;
}

.add-new-item-input-label {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px 10px;
  height: 60px;
  font-size: 12px;
  color: #b9b9b9;
  box-sizing: content-box;
}

.add-new-item-input-textarea {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5px 10px;
  height: 140px;
  font-size: 12px;
  color: #b9b9b9;
  box-sizing: content-box;

}

.add-new-item-input-fields {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.top-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  min-height: 100px;
  background: #e0e0e0;
  font-size: 20px;
  color: #fdfdfd;
}

.category-card {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
  justify-content: center;
  box-sizing: border-box;
}

.category-card img {
  display: flex;
  margin: 5px 0;
  height: 70%;
  background: white;
}

.category-card label{
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #878787;
}