<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Add new item</title>
  <link href="css/header.css" rel="stylesheet">
  <link href="css/add-new-item.css" rel="stylesheet">
</head>
<body>
<div class="header">
  <div class="header-menu-logo">
    <a href="#"> <img class="header-svg-menu" src="svg/menu.svg" width="40" height="40" alt="menu-log"></a>
    <a href="#"> <img src="svg/logo.svg" width="40" height="40" alt="logo"></a>
  </div>
  <div class="header-search-category">
    <input class="header-search-input" name="search-gift" maxlength="50" placeholder="Search by item name">
    <select name="select-category" class="header-select-category">
      <option value="s1">All categories</option>
      <option value="s2">Crocodile gena</option>
      <option value="s3">Shapoklyak</option>
      <option value="s4">Larisa the rat</option>
    </select>
  </div>
  <div class="header-favourite-cart-sign-login">
    <a href="#"> <img class="header-login-signup" src="svg/favorite.svg" width="18" height="18"
                      alt="favourite"></a>
    <a href="#"> <img class="header-login-signup" src="svg/shopping-cart.svg" width="18" height="18"
                      alt="shopping-cart"></a>
    <a class="header-login" href="/users/login">Login</a>
    <a class="header-signup" href="#">Sign Up</a>
  </div>
</div>
<div class="main-label">
  <label>Add New Coupon</label>
</div>
<div class="content">
  <div class="container">
    <form name="add-new-item" action="/" method="post">
      <div class="input-fields">
        <div class="input-label">
          <label for="company">Company</label>
          <input class="company-name" type="text" name="company" id="company" maxlength="100">
        </div>
        <div class="input-label">
          <label for="item-name">Item Name</label>
          <input class="item-name" type="text" name="item-name" id="item-name" maxlength="100">
        </div>
        <div class="input-textarea">
          <label for="select-category">Category</label>
          <select name="select-category" id="select-category" class="select-category">
            <option value="s1">Category name</option>
            <option value="s2">Крокодил Гена</option>
            <option value="s3">Шапокляк</option>
            <option value="s4">Крыса Лариса</option>
          </select>
          <label for="valid-to-datetime">Valid to</label>
          <input class="valid-to" type="datetime-local" name="valid-to" id="valid-to-datetime" maxlength="100">
        </div>
        <div class="input-textarea">
          <label for="short-description">Short description</label>
          <textarea class="short-description" name="short-description" id="short-description"
                    maxlength="1000"></textarea>
        </div>
        <div class="input-textarea">
          <label for="price-input">Price</label>
          <input class="price-input" type="number" name="price" id="price-input"
                 maxlength="100">

          <label for="images">Images</label>
          <input class="images" type="file" name="images" id="images">
        </div>
        <div class="input-textarea">
          <label for="long-description">Long description</label>
          <textarea class="long-description" name="long-description" id="long-description"
                    maxlength="100000"></textarea>
        </div>
        <div class="submits-full">
          <div class="submits">
            <input class="submit-back" type="submit" value="Back">
            <input class="submit-save" type="submit" value="Save">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>