<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Main page</title>
  <link href="css/header.css" rel="stylesheet">
  <link href="css/main-page.css" rel="stylesheet">
</head>
<body>
<div class="header">
  <div class="header-menu-logo">
    <a href="#"> <img class="header-svg-menu" src="svg/menu.svg" width="40" height="40" alt="menu-log"></a>
    <a href="#"> <img src="svg/logo.svg" width="40" height="40" alt="logo"></a>
  </div>
  <div class="header-search-category">
    <input class="header-search-input" name="search-gift" maxlength="50" placeholder="Search by item name">
    <select name="select-category" class="header-select-category">
      <option value="s1">All categories</option>
      <option value="s2">Crocodile gena</option>
      <option value="s3">Shapoklyak</option>
      <option value="s4">Larisa the rat</option>
    </select>
  </div>
  <div class="header-favourite-cart-sign-login">
    <a href="#"> <img class="header-login-signup" src="svg/favorite.svg" width="18" height="18"
                      alt="favourite"></a>
    <a href="#"> <img class="header-login-signup" src="svg/shopping-cart.svg" width="18" height="18"
                      alt="shopping-cart"></a>
    <a class="header-login" href="/users/login">Login</a>
    <a class="header-signup" href="#">Sign Up</a>
  </div>
</div>
<div class="top-sidebar">
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
  <div class="category-card">
    <img src="svg/collections.svg" alt="card">
    <label>Category</label>
  </div>
</div>
<div class="container">
  <div class="coupons">
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
    <div class="coupon">
      <img class="coupon-image" src="svg/collections.svg" alt="photo of coupon">
      <div class="information">
        <div class="one-block">
          <div class="coupon-name">
            <label>
              Coupon name
            </label>
          </div>
          <div class=favorite>
            <img src="svg/favorite.svg" alt="photo of favorite">
          </div>
        </div>
        <div class="one-block">
          <div class="brief-description">
            <label>
              Some brief description
            </label>
          </div>
          <div class=duration-delivery>
            <label>
              Express in 3 days
            </label>
          </div>
        </div>
        <div class="third-block">
          <div class="price">
            <label>
              $235
            </label>
          </div>
          <div class=add-to-cart>
            <input class="submit-add-to-cart" type="submit" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>